*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
}
@media (min-width:900px){
    .page4{
        font-size: 30px;
    }

}
.page4{
    width: 100%;
    position: relative;
    padding:2% 2%;
    margin-bottom: 60px;
}
.page4 .nav{
    display: flex;
    justify-content: space-between;
}
.page4 .nav .a{
    color: rgb(73, 205, 73);
    font-weight: 600;
}
.page4 .nav .b{
    font-weight: 600;
}
.page4 .img{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}
.page4 .img .img1 img{
    width:200px;
    height: 200px;
    padding-right:10px;
}
.page4 .img .img1{
    padding-bottom: 20px;
}
.page4 .round-img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.page4 .round-img .rimg-con img{
    width:200px;
    height:300px;
    border-radius: 50%;
    margin-right: 20px;
}
/* .footer{
    margin-top: 40px;
    background-color: rgb(147, 70, 147);
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer .icon{
    padding-top: 50px;
    font-size: 40px;
} */
.footer{
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    background: rgb(167, 4, 167);
    height: 45px;
    width: 100%;
    color: white;
}
.icon-footer{
    font-size: 22px;
    margin: auto;
}
.page4 .round-img{
    text-align: center;
}